body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.navigation-menu {
    display: flex;
    margin: 0;
    padding: 0px 15px;
    padding-right: 130px;
    list-style: none;
    background: #00008b;
    justify-content: space-between;
    align-items: center;
}

.navigation-menu li {
  display: inline-block;
  margin-right: 20px;
  white-space: nowrap;


}

.navigation-menu a {
    display: block;
    color: #f5f5f5;
    text-decoration: none;
    background-color: #00008b;
    padding: 20px 20px;

}

.navigation-menu a:hover {
    background: #6600ff;
}


table {
    border: 4px solid #2F4F4F;
    border-collapse: collapse;
}

td {
    border: 3px solid #708090;
}
